<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="postgresConnector" class="com.rgassignments.PostgresConnector">
        <property name="JDBC_DRIVER" value="org.postgresql.Driver"/>
        <property name="DB_URL" value="jdbc:postgresql://localhost:5432/rg_assignments"/>
        <property name="USER" value=""/>
        <property name="PASS" value=""/>
    </bean>

    <bean id="employeeDAOController" class="com.rgassignments.EmployeeDAOController">
        <property name="connector" ref="postgresConnector"/>
    </bean>

</beans>